extends header
block content
    link(rel='stylesheet' href='/stylesheets/slideshow.css')
    .w3-container.w3-margin
        h1="Título: " + data.titulo
        .w3-container.w3-margin
            h6 
                strong Subtítulo: 
                | #{data.subtitulo}
            h6 
                strong Descrição: 
                | #{data.descricao}
            h6 
                strong Hashtags: 
                | #{data.hashtags}
            h6 
                strong Data de Criação: 
                | #{data.dataCriacao}
            h6 
                strong Data de Registo: 
                | #{data.dataRegisto}
            h6 
                strong Rating: 
                | #{data.rating}
            h6 
                strong Autor: 
                | #{data.autor} 
        if(f.tipo === "cartaz" && f.ext != "zip")
            .w3-row
                div(class="w3-col s2")
                    div(class="containerp")
                        img(src='/fileStore/' + data.autor  + '/' + name_without_ext + '/data/' + name_without_ext + '.' + f.ext class="imgp" style="width:100%")
                        
        else if(f.ext == "pdf" || f.ext == "pptx")
            .w3-row
                div(class="w3-col s2")
                    div(class="containerp")
                        a(href='/fileStore/' + data.autor  + '/' + name_without_ext + '/data/' + name_without_ext + '.' + f.ext target="_blank") Ver Ficheiro
        else if(f.ext == "zip" && (f.tipo === "cartaz" || f.tipo === "teste" || f.tipo == "problema"))
            // Container for the image gallery
            .container
                each i in conjunto_imgs
                    .mySlides
                        img(src='/fileStore/' + data.autor + '/' + name_without_ext + '/data/' + i)
                
                br
                a.prev(onclick='plusSlides(-1)') ❮
                a.next(onclick='plusSlides(1)') ❯

        .w3-row
            div(class="w3-col s2")
                div(class="containerp")
                    a(href="/files/download/" + f.name) Download
    //----------------------------------------------------------------
    link(rel='stylesheet', href='/stylesheets/rating.css')
    script(src='/javascripts/rate.js')
    script(src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js")
    form.w3-container(action='/files' method='POST' id="myform" enctype='multipart/form-data')
        .rate
            input#star5(type='radio' name='rate' value='5')
            label(for='star5' title='text') 5 stars
            input#star4(type='radio' name='rate' value='4')
            label(for='star4' title='text') 4 stars  
            input#star3(type='radio' name='rate' value='3' onclick="ratee(this.value,'"+data._id+"','"+ data.autorID + "')")
            label(for='star3' title='text') 3 stars
            input#star2(type='radio' name='rate' value='2')
            label(for='star2' title='text') 2 stars
            input#star1(type='radio' name='rate' value='1')
            label(for='star1' title='text') 1 star 
        button(type='radio' name='rate' value='1')
        label(title='text') Clear 
        


        .w3-row.w3-margin
            input.w3-input.w3-border.w3-light-grey(type='text' name='desc' style='width: 30%' placeholder="Escreva aqui o seu comentário.")
        .w3-row.w3-margin
            input.w3-btn.w3-teal.w3-border(type='submit' value='Submit')
 
    script. 
        function ratee(val,recursoID,userId) {
            var p = {
                recursoID: recursoID ,
                userID: userId,
                rating: val ,
                flag:0
            }
            console.log(p)
         
            axios.post('http://localhost:7777/recurso/voto?token=#{token}',p)
            .then(response => { 
            const addedUser = response.data;
            console.log(`POST: user is added`);// append to DOM
            })
            .catch(error => console.error(error));
        }
    script.
        $(document).ready(function(){
            // Check Radio-box
            $(".rating input:radio").attr("checked", false);

            $('.rating input').click(function () {
                $(".rating span").removeClass('checked');
                $(this).parent().addClass('checked');
            });

            $('input:radio').change(
              function(){
                var userRating = this.value;
                alert(userRating);
            });
        });
    script.
        var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) {slideIndex = 1}
            if (n < 1) {slideIndex = slides.length}
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex-1].style.display = "block";
            dots[slideIndex-1].className += " active";
            captionText.innerHTML = dots[slideIndex-1].alt;
        }